<div class="auth-page">
<form (ngSubmit)="submitForm()" [formGroup]="form">
  <div class="mb-3">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <div class="validationText"
    *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
      Wrong email adress
    </div>
  </div>

  <div class="mb-3">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <div class="validationText"
         *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
      Password must have minimum 7 caracters
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
    <span>or</span>
    <a [routerLink]="['/register']">Register</a>
  </div>
</form>
</div>


