

.auth-page {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, lightblue, white, lightblue);
  padding: 200px 50px;

}

form {
  max-width: 500px;
  background: white;
  padding: 30px;
  margin: auto;
}

label {
  font-weight: 500;
  font-size: 12px;
  color: darkcyan;
}


//.example-h2 {
//  margin: 10px;
//}
//
//.example-section {
//  display: flex;
//  align-content: center;
//  align-items: center;
//  height: 60px;
//}
//
//.example-margin {
//  margin: 0 10px;
//}
