
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  width: 100%;
}
.validationText {
  background: #fbd8d5;
  padding: 0 10px;
  margin-top: -19px;
  font-size: 12px;
  border: 1px solid #f55246;
}
 label {

 }
