label {
  font-weight: 500;
  font-size: 12px;
  color: darkcyan;
}

.auth-page {
  width: 100%;
  background: linear-gradient(to right,lightblue, white, lightblue);
  padding: 50px;

}

  form {
    max-width: 500px;
    background: white;
    padding: 30px;
    margin: auto;
  }

  .check-text {
    font-weight: 500;
    font-size: 12px;
    color: darkcyan;
  }
