<div class="auth-page">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="main-form">

    <div class="mb-3">
      <label>Full name</label>
      <mat-form-field>
        <input matInput type="text" formControlName="fullName">
      </mat-form-field>
      <div class="validationText"
           *ngIf="form.controls['fullName'].invalid && form.controls['fullName'].touched">
        Wrong name
      </div>
    </div>

    <div class="mb-3">
      <label>Select gender</label>
      <div>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male" class="mr-3">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="mb-3">
      <label>Country</label>
      <mat-form-field>
        <mat-select formControlName="country">
          <mat-option [value]="country" *ngFor="let country of countries">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <i class='bx bxs-plus-circle'></i>
      <label>Phones Number</label>
      <mat-form-field>
        <input matInput type="text" formControlName="phones">
      </mat-form-field>
    </div>

    <div class="mb-3">
      <label>Birthday</label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <label>Email</label>
      <mat-form-field>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <div class="validationText"
           *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
        Wrong email adress
      </div>
    </div>


    <div class="mb-3">
      <label>Password</label>
      <mat-form-field>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <div class="validationText"
           *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
        Password must have minimum 7 caracters
      </div>
    </div>


    <mat-checkbox class="mb-3 check-text" formControlName="agree">Agree</mat-checkbox>

    <div class="d-flex align-items-center justify-content-between">
      <button mat-raised-button color="primary" [disabled]="form.invalid">Register</button>
      <span>or</span>
      <a [routerLink]="['/login']">Login</a>
    </div>
  </form>
</div>
